%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    = flash_messages
    .navbar-header
      %button.navbar-toggle{type: "button","data-toggle"=> "collapse", "data-target"=> ".navbar-main-collapse"}
        %i.fa.fa-bars
      %a.navbar-brand.page-scroll{href: "#page-top"}
        %i.fa.fa-play-circle
        %span.light 
        Endesapp
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      %ul.nav.navbar-nav
        %li.hidden
          %a{href: "#page-top"}
        %li
          %a.page-scroll{href: "#encrypt_decrypt"} Encrypt & Decrypt
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-target"=> "#{ac_current_user.nickname}", "data-toggle" => "dropdown"}
            = ac_current_user.nickname
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#{sign_out_sistems_path}"}
                %i.fa.fa-sign-out
                %span Keluar
          
%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading EndesApp
          %p.intro-text
            Aplikasi Enkripsi dan Dekripsi File text 
            %br berbasis Web
%section.container.content-section-custom{id: "encrypt_decrypt"}
  .row
    .col-lg-8.col-lg-offset-2.text-center
      %h4 Apa yang ingin kamu lakukan?
      %ul.list-inline
        %li
          %a.btn.btn-default#btn_encrypt{href: "javascript:void(0)"}
            %i.fa.fa-lock.fa-fw
            %span Encrypt
          %a.btn.btn-default#btn_decrypt
            %i.fa.fa-unlock.fa-fw
            %span Decrypt
    .col-lg-10.col-lg-offset-1
      #content
