Dear
= @nickname
= "================="

Berikut adalah file kamu yang telah berhasil di dekripsi.
Silahkan Download melalui attachment file.

Terima kasih telah menggunakan Endesapp.

Regards,
Endesapp