%h3 Dear, 
  = @nickname
%p.text-justify
  Berikut file kamu yang telah berhasil di dekripsi.
  Silahkan download file yang telah kamu enkripsi melalui attachment email.
  %br
  Terima kasih telah menggunakan Endesapp.
%br
%br

%h4 
  Regards,
  %br
  Endesapp