%h3 
  Dear
  = @nickname
%p.text-justify
  Berikut adalah Key dan Init Vector kamu:
  %ul
    %li
      Key:
      = @key
    %li
      IV:
      = @iv
%p
  Simpan email ini untuk keperluan backup kamu.
%br
%br

Regards,
%br
Endesapp
