Dear
= @nickname
= "======================================"
Berikut adalah Key dan Init Vector kamu:

Key: 
= @Key
IV: 
= @iv

Silahkan download file yang telah kamu enkripsi melalui attachment email.
Simpan email ini untuk keperluan backup kamu.

Regards,
Endesapp