%h3 Dear, 
  = @nickname
%p.text-justify
  Berikut adalah Key dan Init Vector kamu:
  %ul
    %li 
      Key:
      = @key
    %li 
      IV:
      = @iv
%p.text-justify
  Silahkan download file yang telah kamu enkripsi melalui attachment email.
  %br
  Simpan email untuk keperluan backup kamu.
%br
%br

%h4 
  Regards,
  %br
  Endesapp