!!!
%html
  %head
    %meta{"http-equiv"=>"X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}
    %title Endesapp
    %link{href: "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track"=> true
    = csrf_meta_tags
  %body{id: "page-top","data-spy"=> "scroll", "data-target"=>".navbar-fixed-top"}
    = yield